.Daty {
  position: relative;
  height: 500px;
  width: 450px;

  .Box {
    color: #8bc7cf;
    position: absolute;
    background-color: #ffffff;
    top: 20%;
    left: 15%;
    height: 100%;
    max-width: 100%;
    border-radius: 15px;
    text-align: center;
    border: 4px solid #8bc7cf;

    .Register, .Verify {
      border-bottom: 3px solid #8bc7cf;
      margin: 0 auto 2em;
      padding: 1em;
      height: 75px;
    }

    .Register:hover, .Verify:hover {
      cursor: pointer;
    }

    .Register {
      border-top-left-radius: 15px;
      border-right: 3px solid #8bc7cf;
    }

    .Verify {
      border-top-right-radius: 15px;
    }

    .AddDoc {
      margin: 2em auto;
    }

    .HashesContainer {
      padding: 0.5em;

      .InlineHash {
        font-size: 14px;
        padding: 0.2em;
        margin: 0.5em;
        box-shadow: 0 2px 3px 1px #8bc7cf;
        word-wrap: break-word;
      }

    }

  }

}
