.DatyContainer {
  height: 800px;
  background-image: url("../../images/iStock-628232910.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.Footer {
  height: 150px;
  background-color: #cc5e5d;
  text-align: center;
}